nav{
	background-color: #e53935;
}
.section-1{
	height: 500px;
	background-image: url('https://scontent.feoh3-1.fna.fbcdn.net/v/t1.0-9/993539_565701983510198_1900054323_n.jpg?oh=f5cbcfad095e0e9e42570fe608c3ba89&oe=59523797');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    
}
.titulo{
	top: 50%;
	color: #ececec;
	font-size: 90px
}